[ req ]
default_bits        = 2048
default_md          = sha256
prompt              = no
distinguished_name  = req_distinguished_name
req_extensions      = req_ext

[ req_distinguished_name ]
C  = GB
ST = England
L  = Brighton
O  = Example
CN = *.mydomainitmo.com
emailAddress = info@example.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = mydomainitmo.com
DNS.2 = www.mydomainitmo.com
